{{#link-to "stereos.new"}}new Stereo{{/link-to}}
{{#each stereos as |stereo|}}
	{{stereo-icon stereo}}
{{else}}
	<h3>You've got no stereos {{#link-to "stereos.new"}}make some{{/link-to}}</h3>
{{/each}}
