<div class="wrapper"><img src="{{ model.leftPhoto }}" id='position-left'/></div>
<div class="wrapper"><img src="{{ model.rightPhoto }}" id='position-right'/></div>
<div class="buttons">
	<button {{ action 'save' }}>save</button>
	<button {{ action 'cancel' }}>cancel</button>
</div>
