#presentation {
	position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
	background-color: black;
}
#presentation img {
	width: 100%;
}
#presentation ul.menu {
	position: absolute;
	z-index: 999;
	left: 10px;
	top: 5px;
	opacity: 0.4;
}
